:root {
    --no-list-style: none;
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');


/* ###################### Test visuelle ############################# */
:root {
    /* --bg-color-body:cadetblue ; */
      /* --bg-color-header:indigo; */
        /* --bg-color-tabbar:aquamarine; */
    /* --bg-color-sidebar: rgb(189, 212, 255); */
    /* --bg-color-main:aqua; */
    /* --border-color-globale: 0.5px solid rgb(90, 78, 78);  */
    /* --border-color-elements: 1px solid black; */
    /* --border-tablist-ul: 0.5px solid rgb(15, 14, 14); */
    /* --bg-color-displayGrid:aliceblue; */
    /* --bg-color-ctr_Grid:blanchedalmond; */

    --display-flex: flex;
}



* {
    font-family: 'Roboto', Work Sans, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    border: var(--border-color-global);
}






body {
    background-color: var(--bg-color-body);
}

header {
    border: var(--border-color-elements);
    background-color: var(--bg-color-header);
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    color: #fff;
    padding: 10px;
    /* z-index: 1000; */

}

.header-middle form {
    margin-left: 280px;
    border: 1px solid #ccc;
    border-radius: 25px;
}

.header-middle input[type="text"] {

    border: none;
    padding: 10px 15px;
    width: 480px;
}

.header-middle button {
    padding: 0 20px;
    background: #f8f8f8;
    border: none;
    border-radius: 0 25px 25px 0;
}






/* //////////////////////////////////////////// */
/* //////////////////tab////////////////////// */
/* ////////////////////////////////////////// */



.tablist {
    border: var(--border-color-elements);
    background-color: white;
    top: 89px;
    position: fixed;
    margin-left: 240px;
    width: 80%;
}

.tab ul {
    white-space: nowrap;
    /* cette balise permet de mettre les texte en ligne droite */
    /* border: var(--border-tablist-ul); */
    list-style-type: var(--no-list-style);
    padding: 2px;
    display: flex;
    gap: 20px;
    overflow: auto;
}

.tab ul::-webkit-scrollbar {
    display: none;

}

.tab li {
    display: var(--display-flex);
    background-color:rgb(237, 237, 237);

    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 15px;
    height: 5px;
    color: black;
}

/* //////////////////////////////////////////// */
/* /////////////////////////////////////////// */
/* ////////////////////////////////////////// */








/* .parentcontainer {
    display: flex;
    margin-top: 60px;
} */


/* /////////////--Aside--/////////////// */
.sidebar {
    border: var(--border-color-elements);
    width: 200px;
    padding: 10px;
    position: fixed;
    /* Fixed position for the sidebar */
    top: 100px;
    /* Adjust for header height */
    bottom: 0;
    overflow-y: auto;
}

.asideContainer {
    margin-top: -20px;
    /* alignement vertical entete tabbar en sidebar*/
}

hr {

border: 0.5px solid rgb(205, 204, 204);
}

.asideSection2 img {
    border-radius: 20px;
}


.asideSection4 div {
    display: var(--display-flex);
}

#generale div {
    gap: 20px;
    display: var(--display-flex);
    margin-top: 15px;
}

section :hover {
    transition: color 0.10s ease-out;
    background-color: rgb(213, 212, 212);
    opacity: 0.5;
    border-radius: 70px;
    width: 200px;
}



/* /////////////Main .grid /////////////// */
main {
border: var(--border-color-elements);
}


.main-content {

    margin-top: 175px;
    margin-left: 230px;
    padding: 0px;
    /* overflow: auto; */

}

.grid-content {

    /* overflow: hidden; */
    background-color: var(--bg-color-ctr_Grid);
    display: grid;
    grid-template-columns: 360px 360px 360px;
    gap: 20px;
    padding: 5px;
    justify-content: center;
}






.card {
    width: 360px;
    border-radius: 10px;
    overflow: hidden;
    /* overflow: hidden; pour cacher le debordement des image svg */

}

.card-thumbnail img {
    width: 100%;
    height: auto;
}

.card-content  {
    display: var(--display-flex);
    gap: 12px;
    border: var(--border-color-elements);
    /* padding: 10px; */
    /* background-color:rgb(255, 205, 111); */
}



.card-content img{

    margin-top: 12px;
    height: 40%;
    border-radius: 20px;
}

.card-title {
    font-size: 18px;
    margin: 0;
   
}

/* .card-flex{

    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;

} */
.card-flex img{
    height: 40px;
    border-radius: 40px;
}


.card-description {

        font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
        font-weight: 600;
}

.card-description img {
    border-radius: 40px;
}

.card-footer style{
   margin-left: 100px;

}

.card-date-vue {
    display: var(--display-flex);
    /* justify-content: center; */
    gap: 5px;
    /* align-items: center; */
    /* margin-left: -50px; */
    font-size: 12px;
   
}





footer {
    margin-top: 580px;
    /* margin-bottom: 600px; */
    height: 200px;
}