:root {
    --no-list-style: none;
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');



/* ###################### test visuelle ############################# */
:root {
    /* --bg-color-body:cadetblue ;
      --bg-color-header:indigo;
        --bg-color-tabbar:aquamarine; */
    /* --bg-color-sidebar: rgb(189, 212, 255); */
    /* --bg-color-main:aqua; */
    /* --border-color: 0.5px solid rgb(90, 78, 78);  */
    --border-tablist-ul: 0.5px solid rgb(15, 14, 14);
    /* --bg-color-displayGrid:aliceblue; */
    /* --bg-color-ctr_Grid:blanchedalmond; */

    --display-flex: flex;
}





* {
    font-family: 'Roboto', Work Sans, sans-serif;
    font-size: 15px;
    border: var(--border-color);
}




body {
    background-color: var(--bg-color-body);
}

header {
    background-color: var(--bg-color-header);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    padding: 10px;
    z-index: 1000;
}

/* ############################################### */


.header-middle form {
    margin-left: 280px;
    border: 1px solid #ccc;
    border-radius: 25px;
}

.header-middle input[type="text"] {

    border: none;
    padding: 10px 15px;
    width: 480px;
}

.header-middle button {
    padding: 0 20px;
    background: #f8f8f8;
    border: none;
    border-radius: 0 25px 25px 0;
}



/* //////////// tabbar ////////////// */

/* .container{
    background-color: #333;
    
} */

.tab{
        position: fixed;
            /* top: 0; */
            /* left: 0; */
            height: 60px;
            width: 100%;
            z-index: 1000;
            background-color: white;
            /* margin-top: 110px; */
}
.tab {
    display: var(--display-flex);
    width: 80%;
    margin-left: 240px;
    justify-content: center;
    /* background-color: var(--bg-color-tabbar); */
}

.tablist {
    height: 0px;
    width: 90%;
}

.tab ul {
    /* border: var(--border-tablist-ul); */
    list-style-type: var(--no-list-style);
    padding: 2px;
    /* width: 100%; */
    display: flex;
    gap: 15px;
    overflow-x: scroll;
}

.tab ul::-webkit-scrollbar {
    display: none;

}

.tab li {
    /* display: flex; */
    display: var(--display-flex);
    background-color: #ccc;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 15px;
    height: 5px;
    color: black;
}

.tab li {

    width: 100%;
    /* border: 1px solid rgb(15, 14, 14); */

}


.parentcontainer{
display: flex;
 margin-top: 60px;
padding: auto;
}
 



/* /////////////--Aside--/////////////// */


.sidebar {
    width: 200px;
    padding: 10px;
    position: fixed;
    /* Fixed position for the sidebar */
    top: 60px;
    /* Adjust for header height */
    bottom: 0;
    overflow-y: auto;
}

/* hr {
    width: 200px;
    margin-left: -4px;
} */

.asideSection2 img {
    border-radius: 20px;
}


.asideSection4 div {

    width: 130px;
    display: var(--display-flex);
}

#generale div {

    gap: 20px;
    display: var(--display-flex);
    margin-top: 15px;
}

section :hover {
    transition: color 0.10s ease-out;
    background-color: rgb(234, 168, 103);
    opacity: 0.5;
    border-radius: 70px;
    width: 200px;
}



/* /////////////Main .grid /////////////// */

.main-content {
    margin-left: 100px;
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}
/* main {

    margin-left: 300px;

    background-color: var(--bg-color-main);
} */

.display-Grid {

    width: 1000px;
    margin-left: 120px;

    /* background-color: var(--bg-color-displayGrid); */
}

.grid-content{
    overflow: hidden;
    background-color: var(--bg-color-ctr_Grid);
    display: grid;
    grid-template-columns: 340px 340px 340px;

    gap: 23px;
    padding: 5px;
    justify-content: center;
}

.grid-content{
    width: 1200px;
    /* ce parametre permet d'elargire l'espacement de de card img */
}

.boxe {
    background-color: #ccc;
    /* height: 200px;
    border-radius: 0.63em; */

}


.card {
    width: 350px;
    border-radius: 10px;
    overflow: hidden;

}

.card-thumbnail img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 10px;

}

.card-title {
    font-size: 18px;
    margin: 0;
}

.card-description {
    font-size: 14px;
}

.card-description img {
    border-radius: 40px;
}

.card-footer {
    display: var(--display-flex);
    justify-content: space-between;
    margin-top: 10px;
    font-size: 12px;
    padding-bottom: 10px;
}

footer {
    margin-top: 580px;
    /* margin-bottom: 600px; */
    height: 200px;
}